In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
ds = pd.read_csv('event_data_train.csv')
ds

         step_id   timestamp      action  user_id
0          32815  1434340848      viewed    17632
1          32815  1434340848      passed    17632
2          32815  1434340848  discovered    17632
3          32811  1434340895  discovered    17632
4          32811  1434340895      viewed    17632
...          ...         ...         ...      ...
3480698    33375  1526772685      viewed    11677
3480699    32815  1526772750      viewed     5198
3480700    32815  1526772750  discovered     5198
3480701    32815  1526772750      passed     5198
3480702    33892  1526772811      viewed    18526

[3480703 rows x 4 columns]

In [18]:
    ds.action.unique()

array(['viewed', 'passed', 'discovered', 'started_attempt'], dtype=object)

In [ ]:
ds['date'] = pd.to_datetime(ds.timestamp, unit='s')
ds.head(10)