In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [4]:
ds = pd.read_csv('event_data_train.csv')
ds

         step_id   timestamp      action  user_id
0          32815  1434340848      viewed    17632
1          32815  1434340848      passed    17632
2          32815  1434340848  discovered    17632
3          32811  1434340895  discovered    17632
4          32811  1434340895      viewed    17632
...          ...         ...         ...      ...
3480698    33375  1526772685      viewed    11677
3480699    32815  1526772750      viewed     5198
3480700    32815  1526772750  discovered     5198
3480701    32815  1526772750      passed     5198
3480702    33892  1526772811      viewed    18526

[3480703 rows x 4 columns]

In [41]:
ds.iloc[:, [1]]

          timestamp
0        1434340848
1        1434340848
2        1434340848
3        1434340895
4        1434340895
...             ...
3480698  1526772685
3480699  1526772750
3480700  1526772750
3480701  1526772750
3480702  1526772811

[3480703 rows x 1 columns]

In [50]:
ds['date'] = pd.to_datetime(ds.timestamp, unit='s')

In [52]:
ds.head(50)

    step_id   timestamp           action  user_id                date
0     32815  1434340848           viewed    17632 2015-06-15 04:00:48
1     32815  1434340848           passed    17632 2015-06-15 04:00:48
2     32815  1434340848       discovered    17632 2015-06-15 04:00:48
3     32811  1434340895       discovered    17632 2015-06-15 04:01:35
4     32811  1434340895           viewed    17632 2015-06-15 04:01:35
5     32811  1434340895           passed    17632 2015-06-15 04:01:35
6     32929  1434340921       discovered    17632 2015-06-15 04:02:01
7     32929  1434340921           viewed    17632 2015-06-15 04:02:01
8     32929  1434340939  started_attempt    17632 2015-06-15 04:02:19
9     32929  1434340944           passed    17632 2015-06-15 04:02:24
10    32814  1434340950           viewed    17632 2015-06-15 04:02:30
11    32814  1434340950       discovered    17632 2015-06-15 04:02:30
12    32814  1434340950           passed    17632 2015-06-15 04:02:30
13    32812  1434340991           viewed    17632 2015-06-15 04:03:11
14    32812  1434340991       discovered    17632 2015-06-15 04:03:11
15    32812  1434341016  started_attempt    17632 2015-06-15 04:03:36
16    32812  1434341039           passed    17632 2015-06-15 04:03:59
17    32816  1434341044           viewed    17632 2015-06-15 04:04:04
18    32816  1434341044           passed    17632 2015-06-15 04:04:04
19    32816  1434341044       discovered    17632 2015-06-15 04:04:04
20    32930  1434341063       discovered    17632 2015-06-15 04:04:23
21    32930  1434341063           viewed    17632 2015-06-15 04:04:23
22    32930  1434341063           passed    17632 2015-06-15 04:04:23
23    32979  1434341098           viewed    17632 2015-06-15 04:04:58
24    32979  1434341098       discovered    17632 2015-06-15 04:04:58
25    32979  1434341098           passed    17632 2015-06-15 04:04:58
26    32927  1434341107           passed    17632 2015-06-15 04:05:07
27    32927  1434341107       discovered    17632 2015-06-15 04:05:07
28    32927  1434341107           viewed    17632 2015-06-15 04:05:07
29    32191  1434341195           passed    17632 2015-06-15 04:06:35
30    32191  1434341195           viewed    17632 2015-06-15 04:06:35
31    32191  1434341195       discovered    17632 2015-06-15 04:06:35
32    32927  1434341379           viewed    17632 2015-06-15 04:09:39
33    32979  1434341385           viewed    17632 2015-06-15 04:09:45
34    32930  1434341388           viewed    17632 2015-06-15 04:09:48
35    32816  1434341390           viewed    17632 2015-06-15 04:09:50
36    32815  1434341931           passed    12494 2015-06-15 04:18:51
37    32815  1434341931       discovered    12494 2015-06-15 04:18:51
38    32815  1434341931           viewed    12494 2015-06-15 04:18:51
39    32811  1434341937           viewed    12494 2015-06-15 04:18:57
40    32811  1434341937           passed    12494 2015-06-15 04:18:57
41    32811  1434341937       discovered    12494 2015-06-15 04:18:57
42    32929  1434341943       discovered    12494 2015-06-15 04:19:03
43    32929  1434341943           viewed    12494 2015-06-15 04:19:03
44    32930  1434341946           passed    12494 2015-06-15 04:19:06
45    32930  1434341946       discovered    12494 2015-06-15 04:19:06
46    32930  1434341946           viewed    12494 2015-06-15 04:19:06
47    32814  1434341948           viewed    12494 2015-06-15 04:19:08
48    32814  1434341948       discovered    12494 2015-06-15 04:19:08
49    32814  1434341948           passed    12494 2015-06-15 04:19:08