In [13]:
m_dict = {
        "января":0,
        "февраля":31,
        "марта":59,
        "апреля":90,
        "мая":120,
        "июня":151,
        "июля":181,
        "августа":212,
        "сентября":243,
        "октября":273,
        "ноября":304,
        "декабря":334
         }

In [27]:
import csv

# чтение с тхт и запись в csv удаляя все лишнее
with open('data_with_int_mounths.csv', 'w', encoding='utf-8') as data:
    file_writer = csv.writer(data, delimiter = ",", lineterminator="\r")
    with open('soup.txt', 'r') as soup_txt:
        for line in soup_txt:
            a = line.strip().split()
            del a[6:8]   # Удаляем строку "г."
            del a[-1]     
            try:     # переводим все числовые значения в инт
                if a[3].isdigit():
                    a[3] = int(a[3])
                    a[5] = int(a[5])
                    a[6] = int(a[6])
                    a[8] = int(a[8])
                    a[4] = m_dict[a[4]]
                    a[7] = m_dict[a[7]]
                    file_writer.writerow(a) # запись каждой строчки из тхт в  csv
                else:
                    None
            except:
                None

In [28]:
import pandas as pd

data = pd.read_csv('data_with_int_mounths.csv')
data

               .       Роман       Евсеев   3  212  1982   1    0  2004
0              ?       Павел    Денисович   6  181  1911  26   31  1990
1      Axрамович       Мария     Ивановна  19  243  1917  11  273  1996
2      Aбрамович  Константин   Bикторович  19  273  1971  11  304  2019
3       Aкуневич    Фиофания     Петровна   1    0  1928   1    0  1999
4       Aлексеев        Пётр  Прокофьевич  18    0  1920  27   31  1990
...          ...         ...          ...  ..  ...   ...  ..  ...   ...
12402     Яцухно      Галина   Николаевна  12  212  1949  26   59  2006
12403     Яшенко   Прасковья     Ивановна   2  212  1921  29   90  1991
12404     Яшенко   Прасковья     Ивановна   2  212  1921  29   90  1991
12405     Яшкова      Лариса    Антоновна  11  243  1937  10   31  2001
12406       Kocы     Николай     Иванович  25  273  1918  18  120  1987

[12407 rows x 9 columns]

In [23]:
# Добавляем верхнюю строку с названием колонок
with open('data_with_int_mounths.csv', 'r+') as data:
    data.seek(0)
    data.write('Surname,Name,Father,Day_b,Month_b,Year_b,Day_d,Mouth_d,Year_d\n')